.main_section{
    margin-top: 7%;
    align-items: center;
    margin-left: 20%;
}
.save3{
    width: 230px;
    height: 35px;
    margin: 12px 40px ;
   text-align: center;
}
.heading{
    text-align: justify;
    margin-left: 7%;
}